.message-container {
  background: #F3F6F8;
  border-radius: 15px;
  cursor: pointer;
}

.message-container--latest {
  background: #80cff7;
  border: 1px solid #0370aa;
  border-radius: 15px;
  cursor: pointer;
}

.bss-btn {
  background: #FFFFFF;
  border-radius: 10px;
  color: #027DC1

}

.msg-icon {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background: #FFFFFF;
}