.special-link-button {
  background-color: #662d91;
  color: #ffffff;
  position: absolute;
}

.special-link-button:hover {
  background-color: #8b28d7;
  color: #ffffff;
}

.wallet-balance {
  /* display: flex; */
  /* direction: row; */
  position: relative;
  background-color: #08689d;
  background-image: url("../../images/bg-spiral.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  border-radius: 9px;
  padding: 10px;
}

.wallet-balance .text {
  font-size: 10px;
}
.wallet-balance .amount {
  font-size: 26px;
}
.wallet-balance .ss-icon {
  position: absolute;
  top: 2px;
  right: 5px;
}
